rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // MVP in modalita' test per consentire upload audio dal client senza autenticazione.
      allow read, write: if request.time < timestamp.date(2026, 5, 13);
    }
  }
}
